
.main-menu {
    background:$menubackground;
    display: flex;
    flex-direction: row;
    margin:0;
    padding: 0;
    position: relative;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05), 
              0 2px 2px rgba(0,0,0,0.05), 
              0 4px 4px rgba(0,0,0,0.05), 
              0 8px 8px rgba(0,0,0,0.05),
              0 16px 16px rgba(0,0,0,0.05);
    z-index: 10;

    a {
        color: #333;

        &:hover {
            color: #000;
            text-decoration: none;
        }
    }

    li {
        list-style: none;
        margin: 0;
        padding: 8px 24px;
        font-size: 1.5rem;
        position: relative;

        @media all and (max-width: $screen-medium) {
            padding: 8px 16px;
        }

        a {
            text-decoration: none;
        }

        ul {
            padding-left: 0;
            display: none;
            position: absolute;
            background: $menubackground;
            list-style: none;
            left: 0;
            top: 34px;
            box-shadow: 0 1px 1px rgba(0,0,0,0.05), 
              0 2px 2px rgba(0,0,0,0.05), 
              0 4px 4px rgba(0,0,0,0.05), 
              0 8px 8px rgba(0,0,0,0.05),
              0 16px 16px rgba(0,0,0,0.05);

            li {
                width: 185px;
                display:list-item;
                position: relative;

                ul {
                    left: 185px;
                    top: 0;
                }
            }
        }

        &:hover > ul {
        	display:inherit;
        }

        &.menu-admin {
            background-color: #fff3c6;
        }
    }

}